<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Не найдено</title>
</head>
<body>
    <h1>Ошибка! Страница не найдена!</h1>
</body>
<style>
    body {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    a {
        position: absolute;
        left: 50%;
        margin-right: -50%;
        margin-top: 20px;
        transform: translate(-50%, -50%)
    }
</style>
</html>